@keyframes move {
	from {
		background-color: $color-once;
		top: 0;
		left: 0;
	}
	25% {
		background-color: $color-twice;
		top: 0;
		left: 20rem;
	}
	50% {
		background-color: $color-third;
		top: 20rem;
		left: 20rem;
	}
	75% {
		background-color: $color-pink;
		top: 20rem;
		left: 0;
	}
	100% {
		background-color: orangered;
		top: 0;
		left: 0;
	}
}
